// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#coffee-navigator {
  width: 20%;
  height: 100%;
  margin-left: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: @font-size;
  font-family: @font-family;
  opacity: 1;
  background: @tool-panel-background-color;
  box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
  border: none;
  border-left: 1px solid @tool-panel-border-color;
  padding-top: 0;

  .icon-text {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    vertical-align: text-top;
    height: 16px;
  }

  .icon-class:before {
    .icon-text();

    width: 16px;
    content: "c";
    border-radius: 8px;
    background-color: @background-color-highlight;
    line-height: 13px;
    padding-left: 3px;
    font-size: 16px;
    margin-top: -2px;
  }

  .icon-static:before {
    .icon-text();

    width: 16px;
    content: "s";
    border-radius: 8px;
    background-color: @background-color-highlight;
    line-height: 13px;
    padding-left: 3px;
    font-size: 16px;
    margin-top: -2px;
  }

  .icon-bound:before {
    .icon-text();

    width: 16px;
    content: "⇒";
    line-height: 11px;
    font-size: 16px;
  }

  .icon-unbound:before {
    .icon-text();

    width: 16px;
    content: "→";
    line-height: 11px;
    font-size: 16px;
  }

  a.icon.text-error {
    color: @text-color-error;
  }
}

.has-navigator .editor-contents {
  width: 80% !important;
}
