// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

#coffee-navigator {
  width: 20%;
  height: 100%;
  margin-left: 80%;
  overflow-y: scroll;
  overflow-x: hidden;

  .icon {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    vertical-align: text-top;
    height: 16px;
  }
}

.has-navigator .editor-contents {
  width: 80% !important;
}

.icon-class:before {
  width: 16px;
  content: "c";
  border-radius: 8px;
  background-color: @background-color-highlight;
  line-height: 13px;
  padding-left: 3px;
}

.icon-bound:before {
  width: 24px;
  content: "=>";
  line-height: 16px;
}

.icon-unbound:before {
  width: 24px;
  content: "->";
  line-height: 16px;
}
